button {
  border-radius: 10px !important;
  padding: 0.3rem 1rem 0.3rem 1rem;
}

::ng-deep .mat-toolbar {
  color: white;

  max-width: 90% !important;
  padding: 1rem !important;
}

.mat-simple-snackbar {
  font-size: 1rem;
}

.card {
  transition: 0.4s transform cubic-bezier(0.155, 1.105, 0.295, 1.12),
    0.4s box-shadow,
    0.4s -webkit-transform cubic-bezier(0.155, 1.105, 0.295, 1.12);
}

.card:hover {
  transform: scale(1.05);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.12), 0 4px 8px rgba(0, 0, 0, 0.06);
}
