button {
  border-radius: 10px;
  padding: 0.3rem 1rem 0.3rem 1rem;
}

::ng-deep .mat-toolbar {
  color: white;
  max-width: 90% !important;
  padding: 1rem !important;
}

.card {
  // background: #fff;
  // box-shadow: 0 6px 10px rgba(0, 0, 0, 0.08), 0 0 6px rgba(0, 0, 0, 0.05);
  transition: 0.4s transform cubic-bezier(0.155, 1.105, 0.295, 1.12),
    0.4s box-shadow,
    0.4s -webkit-transform cubic-bezier(0.155, 1.105, 0.295, 1.12);
  // padding: 14px 80px 18px 36px;
  // cursor: pointer;
}

.card:hover {
  transform: scale(1.05);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.12), 0 4px 8px rgba(0, 0, 0, 0.06);
}
