#searchButton {
  margin-left: 1rem;
  display: inline;
  padding: 0.2rem 0.6rem 0.3rem 0.6rem;
  margin-top: 0 !important;
  border-radius: 5px !important;
}

#searchInput {
  width: #{"min(90%, 15.5rem)"};
  border-radius: 5px !important;
  height: 2rem;
}
