<section class="container">
  <div class="textdiv">
    <div class="imageBgDiv"></div>
    <h3 class="text-white">SAY GOODBYE TO EVERYTHING YOU LOVE</h3>
    <h4 class="text-white" style="font-size: 1.8rem">
      8900 kr
      <h5 class="text-white" style="display: inline">/month</h5>
    </h4>
    <p class="text-white" style="font-size: 1.5rem">Cancel no time.</p>
    <br />
    <p class="text-white" style="font-size: 1.5rem">
      Save 0.4% with a yearly subscription.*
    </p>
    <button
      class="btn btn-outline-light"
      (click)="buttonPressSnackBar('I told you it doesn´t work!', 'Dismiss')"
    >
      SIGN UP NOW
    </button>
    <p class="text-muted mt-2" style="font-size: 0.7rem">
      *This button doens't do anything tehe
    </p>
  </div>
</section>
