@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

// @import "~bootswatch/dist/[theme]/variables";
// @import "~bootstrap/scss/bootstrap";
// @import "~bootswatch/dist/[theme]/bootswatch";

$mainfont: "Poppins", sans-serif;

footer {
  // text-align: center;
  // background-color: #363636 !important;
  width: 100%;
  height: 2rem !important;
  position: fixed;
  bottom: 0;
  padding: 0rem 0rem 0rem 1rem;
  // margin-bottom: 2rem;
  a {
    // font-size: 1.5rem;
    color: #fdfdfd;
    text-align: center;
  }
}
